@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursorbck {
    height: 450px;
    width: 450px;
    background-color: #96c11e2b;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}

#nav {
    height: 135px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-start;
    gap: 45px;
    padding: 0 125px;
    z-index: 99;
}

#nav img {
    height: 75px;
}

#nav h4 {
    font-weight: 500;
    text-transform: uppercase;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    width: 75%;
    line-height: .86;
    letter-spacing: .03em;
    position: relative;
    margin: 20px 0;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -4px;
    left: -8px;
    color: #000;
    text-shadow: -1px -1px 0 #95c11e, 1px -1px 0 #95c11e, -1px 1px 0 #95c11e, 1px 1px 0 #95c11e;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

#page1 p {
    font-size: 20px;
    font-weight: 400;
    width: 50%;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    margin-right: 10px;
    transition: all linear 0.4s;
    top: -4px;
    left: -8px;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#scroller h4:hover {
    color: #95c11e;
    text-shadow: -1px -1px 0 #95c11e, 1px -1px 0 #95c11e, -1px 1px 0 #95c11e, 1px 1px 0 #95c11e;
}

@keyframes scroll {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

#about-us {
    margin: 50px 0;
    height: 50vh;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

#about-us img {
    border-radius: 8px;
    object-fit: cover;
}

.img1 {
    height: 165px;
    width: 165px;
}

.img2 {
    height: 220px;
    width: 165px;
}

#about-us-in {
    width: 54%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 50px;
    font-weight: 800;
    margin: 25px 0;
}

#about-us-in p {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px
}